@import './constants.scss';

@keyframes shake {
  0% {
    webkit-transform: rotate(-12deg)
  }

  100% {
    transform: rotate(12deg)
  }
}

@keyframes slideout {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes wiggle {
  0% {transform: rotate(20deg);}
  25% {transform: rotate(-20deg);}
  50% {transform: rotate(10deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  cursor: auto;

  i {
    cursor: pointer;
    font-size: 28px;
    color: $text-color;
    animation-name: wiggle;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

  .full-heart {
    color: red;
    animation-name: wiggle;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  // .full-heart {
  //   color: red;
  //   animation-name: wiggle;
  //     animation-duration: 1000ms;
  //     animation-iteration-count: 1;
  //     animation-timing-function: ease-in-out;
  // }

  // .heart-transition-enter-active {

  //   .full-heart {
  //     animation-name: wiggle;
  //     animation-duration: 1000ms;
  //     animation-iteration-count: 1;
  //     animation-timing-function: ease-in-out;
  //   }
  // }

}
