@import './constants.scss';

.buttons-container {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  cursor: auto;

  i {
    cursor: pointer;
    font-size: 28px;
    color: $text-color;
  }
}