$text-color: #262626;

$font-size: 14px;

$title-weight: 600;

$giph-width: 615px;


$eaze-font-family: 'Proxima', Helvetica, Arial, Sans-Serif;
$eaze-blue: rgb(0, 170, 231);
$eaze-grey: rgb(92, 81, 90);
$background-white: #fafafa;

$title-font-family: 'Pacifico'