@import './constants.scss';

.giphs {
  margin: 10px;
  // box-shadow: 2px 2px 2px 2px lightgrey;
  border-radius: 3px;
  border: 1px solid #e6e6e6;

  .username {
    font-weight: $title-weight;
    padding-right: 5px;
  }

  .giph {
    width: 100vw;
    max-width: $giph-width;
    transition: width 1s;
  }

  .giph-loading {
    display: none;
  }

  .giph-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;

    .avatar {
      height: 30px;
      width: 30px;
      border-radius: 16px;
      margin: 5px;
    }
  }
}