@import './constants.scss';

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.giphs {
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  animation: fadein .1s;

  .username {
    font-weight: $title-weight;
    padding-right: 5px;
  }

  .giph {
    width: 100vw;
    max-width: $giph-width;
  }

  .giph-loading {
    display: none;
  }

  .giph-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;

    .avatar {
      height: 30px;
      width: 30px;
      border-radius: 16px;
      margin: 5px;
    }
  }
}