@import './constants.scss';

// CSS resets

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
  
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  line-height: none;
  font-weight: normal;
  text-decoration: none;
}

a {
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html, #root, body, .parent, .app-parent {
  min-height: 100%;
  min-width: 100%
}

body {
  font-family: $eaze-font-family;
  margin: 0;
  color: $text-color;
  font-size: $font-size;
  background-color: $background-white;
}

.parent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

