@import './constants.scss';

.user-parent {
  background: $eaze-blue;
  height: 100vh;
  width: 100vw;
}

.user-message {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-family: 'Lilita One';
    font-weight: bold;
    font-size: 36px;
    padding: 15px;
    color: white;

  }

  a:hover {
    color: $eaze-yellow;
  }
}

.user-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 18px;
  color: white;
}

.user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  input, .submit {
    font-size: 20px;
    width: 80%;
    max-width: 350px;
    margin: 5px;
    border: none;
    padding: 15px;
    border-radius: 3px;
    height: 40px;;
  }
  
  .submit {
    background-color: $eaze-yellow;
    text-align: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .submit:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.4rem 0.8rem;
  }
}

.user-back-button {
  position: absolute;
  top: 5px;
  left: 0;
  margin: 15px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.errors {
  color: darkred;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
}